form {

    text-align: center;
}
input {

    padding: 18px;
    font-size: 1.2em;
    border-radius: 15px;
    width: 50%;
    background-color: lavender;
    
}
button {
    background-color: rgb(50, 66, 94);
    color: honeydew;
    padding: 16px;
    border-radius: 10px;
}
.row {

    margin-top: 3rem;
}
.card {

    
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: rgba(255, 255, 255, 0.719);
    background-color: lavender;
}

